{% extends "base_generic.html" %}
{% block content %}

<style>
.main-class {
  color: #7e7e7e;
  font-size: 28px;
  background-color: #222222;
  margin-right: 1340px;
  padding: 20px;
  text-align: center;
}

.link-reset {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.link-reset:hover {
  text-decoration: underline;
}
</style>

<div class="main-class">
  Someone asked for password reset for email {{ email }}. Follow the link below:
  <a href="{{ protocol }}//{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="link-reset">Reset Password</a>
</div>

{% endblock %}
