{% extends "base_generic.html" %}
{% block content %}

<style>
.main-class-prf {
  color: #7e7e7e;
  font-size: 28px;
  background-color: #222222;
  margin-right: 1340px;
  padding: 20px;
}
</style>

<div class="main-class-prf">
  <form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} 
      <p style="color: #373737;">{{ form.email.errors }}</p>
    {% endif %}
    <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
  </form>
</div>

{% endblock %}
