{% extends "base_generic.html" %}

{% block content %}
<style>
.client-data {
    background-color: #181818;
    padding: 20px;
    margin-bottom: 20px;
    color: #7e7e7e;
  }
.client-data h2 {
    color: #7e7e7e;
  }
.client-data ul {
    list-style-type: none;
  }
.client-data li {
    margin-bottom: 10px;
  }
.client-data a {
    color: #dbdbdb;
    text-decoration: none;
  }
  .client-data-funds {
    background-color: #222222;
    padding: 20px;
    margin-bottom: 20px;
    color: #7e7e7e;
  }
.key-text {
    color: #7e7e7e;
    font-size: 28px;
  }
.value-text {
    color: #dbdbdb;
    font-size: 28px;
  }
.add-funds-form {
    background-color: #222222;
    padding: 20px;
    color: #7e7e7e;
  }
.add-funds-form h1 {
    color: #7e7e7e;
  }
.add-funds-form input[type="submit"] {
    background-color: #2d2d2d;
    color: #7e7e7e;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  .product-title {
  color: #dbdbdb;
  font-size: 24px;
  word-wrap: break-word;
}

.product-title.sausages {
  width: 450px;
}

.product-title.milks {
  width: 300px;
}

.product-title.juices {
  width: 200px;
}

.product-title.cheeses {
  width: 350px;
}
.product-image {
  list-style-type: none;
  border: 3px solid #dbdbdb;
}

.product-image.sausages {
  width: 450px;
  height: 300px;
}

.product-image.milks {
  width: 300px;
  height: 450px;
}

.product-image.juices {
  width: 200px;
  height: 400px;
}

.product-image.cheeses {
  width: 350px;
  height: 350px;
}
.product-list li {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 3%;
}
.product-info {
    background-color: #222222;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
}
.product-link,
.product-image,
.product-title {
  list-style-type: none;
  text-decoration: none;
}
</style>

{% if client_data %}
    <div class="client-data">
        <h1>Your profile data:</h1>
        <ul>
            {% for key, value in client_data.items %}
                {% if key == "money" %}
                  <li><span class="key-text">{{key}}</span>: <span class="value-text">{{value}}</span> <span class="key-text">RUB</span></li>
                {% else %}
                  <li><span class="key-text">{{key}}</span>: <span class="value-text">{{value}}</span></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if products_with_quantities %}
            <h1>Your orders:</h1>
            <ul class="product-list">
              {% for item in products_with_quantities %}
                <li>
                  <div class="product-info">
                    <div>
                    <a href="{% url 'product' %}?id={{item.product.id}}" class="product-link">
                      {% if item.product.category.title == 'Колбасы' %}
                        <img class="product-image sausages" src="{{item.product.image}}">
                        <div style="list-style-type: none;">
                        <p class="product-title sausages">{{ item.product.title }}</p>
                      </div>
                      {% elif item.product.category.title == 'Молочные продукты' %}
                        <img class="product-image milks" src="{{item.product.image}}">
                        <div style="list-style-type: none;">
                        <p class="product-title milks">{{ item.product.title }}</p>
                      </div>
                      {% elif item.product.category.title == 'Соки' %}
                        <img class="product-image juices" src="{{item.product.image}}">
                        <div style="list-style-type: none;">
                        <p class="product-title juices">{{ item.product.title }}</p>
                      </div>
                      {% elif item.product.category.title == 'Сыры' %}
                        <img class="product-image cheeses" src="{{item.product.image}}">
                        <div style="list-style-type: none;">
                        <p class="product-title cheeses">{{ item.product.title }}</p>
                      </div>
                      {% endif %}
                      </a>
                      <span class="key-text">Quantity: </span><span class="value-text">{{ item.quantity }}</span>
                      <span class="key-text">Price: </span><span class="value-text">{{ item.price }}</span><span class="key-text"> RUB</span>
                      <form method="GET" action="{% url 'cancel_order' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ item.product.id }}">
                        <input type="hidden" name="item_price" value="{{ item.price }}">
                        <label for="returned_quantity" style="color: #7e7e7e;">Returned quantity:</label>
                        <input type="number" id="returned_quantity" name="returned_quantity" min="1" required>
                        <button type="submit">Cancel order</button>
                      </form>
                    </div>
                    </div>
                </li>
              {% endfor %}
            </ul>
        {% else %}
            <h4>You have not purchased any products yet.</h4>
        {% endif %}
    </div>
{% else %}
    <p class="client-data">No client data to show..</p>
{% endif %}

<div style="background-color: #181818; padding: 10px; display: inline-block;">
  <h4 class="client-data-funds">To add funds to your account please use form below:</h4>

  {% if form_errors %}
      <h5 class="client-data">{{ form_errors }}</h5>
  {% endif %}

  <form action="{% url 'profile' %}" method="POST" class="add-funds-form">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Add funds">
  </form>
</div>

{% endblock %}




<!-- 
<style>
.empty-cart-message {
    color: #dbdbdb;
    font-size: 24px;
}
.shopping-question {
    color: #dbdbdb;
    font-size: 32px;
    line-height: 0pt;
}
.product-list {
    list-style-type: none;
    padding: 0;
}
.product-item {
    margin-bottom: 10px;
}
</style>

<p class="empty-cart-message">Your shopping cart is still empty...</p>
<p class="shopping-question">Do you want to go shopping?</p>

{% if products %}
    <h2>Ваши продукты:</h2>
    {{ products }}
    <ul class="product-list">
      {% for product in products %}
          <li class="product-item">{{ product }}</li>
      {% endfor %}
    </ul>
{% else %}
    <p>У вас нет продуктов.</p>
{% endif %} -->