{% extends "base_generic.html" %}
{% block content %}
<style>
.product-info-container {
  border: 7px solid #181818;
  margin-right: 5%;
  display: flex;
  justify-content: flex-start;
  background-color: #181818;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 28px;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
}

.product-info-left {
  margin-right: 50px;
  margin-left: 3%;
}

.product-info-right {
  margin-right: 50px;
}

.product-image {
  list-style-type: none;
  border: 3px solid #dbdbdb;
}

.product-image.sausages {
  width: 450px;
  height: 300px;
}

.product-image.milks {
  width: 300px;
  height: 450px;
}

.product-image.juices {
  width: 300px;
  height: 600px;
}

.product-image.cheeses {
  width: 450px;
  height: 450px;
}

.product-price,.rating {
  line-height: 50pt;
  list-style-type: none;
  text-decoration: none;
  font-size: 36px;
  word-wrap: break-word;
  width: 450px;
  color: #7e7e7e;
  line-height: 35pt;
}

.product-title {
  line-height: 40pt;
  list-style-type: none;
  text-decoration: none;
  color: #dbdbdb;
  font-size: 48px;
  word-wrap: break-word;
  max-width: 2000px;
}

.description {
  line-height: 40pt;
  list-style-type: none;
  text-decoration: none;
  color: #7e7e7e;
  font-size: 32px;
  word-wrap: break-word;
  max-width: 2000px;
}

.description-text {
  line-height: 26pt;
  list-style-type: none;
  text-decoration: none;
  color: #dbdbdb;
  font-size: 32px;
  word-wrap: break-word;
  max-width: 2000px;
}

.category-review {
  background-color: #181818;
  margin-left: 3%;
  line-height: 50pt;
  list-style-type: none;
  text-decoration: none;
  font-size: 52px;
  word-wrap: break-word;
  width: 100%;
  color: #7e7e7e;
  margin-bottom: 20px;
  padding: 10px;
}

.review {
  background-color: #222222;
  margin-left: 75px;
  color: #7e7e7e;
  padding: 10px;
  margin-bottom: 10px;
  width: 500px;
}

.review-user,.review-rating {
  list-style-type: none;
  text-decoration: none;
  margin-left: 25px;
  color: #7e7e7e;
  font-size: 32px;
  word-wrap: break-word;
  line-height: 40pt;
}

.review-text {
  list-style-type: none;
  text-decoration: none;
  margin-left: 25px;
  color: #dbdbdb;
  font-size: 24px;
  word-wrap: break-word;
  line-height: 30pt;
}

.rating-link {
  color: #dbdbdb;
}

.price-link {
  color: #dbdbdb;
}

.category-link {
  color: #dbdbdb;
}

.empty-promotions {
  color: #7e7e7e;
  font-size: 36px;
  word-wrap: break-word;
  line-height: 22pt;
  width: 450px;
  list-style-type: none;
  text-decoration: none;
}

.product-link {
  list-style-type: none;
  text-decoration: none;
  color: #dbdbdb;
}

.form-group {
    margin-bottom: 10px;
}
</style>

<div class="product-info-container">
  <div class="product-info-left">
    {% if product.category.title == 'Колбасы' %}
      <img class="product-image sausages" src="{{product.image}}">
    {% elif product.category.title == 'Молочные продукты' %}
      <img class="product-image milks" src="{{product.image}}">
    {% elif product.category.title == 'Соки' %}
      <img class="product-image juices" src="{{product.image}}">
    {% elif product.category.title == 'Сыры' %}
      <img class="product-image cheeses" src="{{product.image}}">
    {% endif %}
    {% if product_promotions %}
      <div class="product-price">Price: <a class="price-link">{{ price_with_max_discount_amount }}</a> RUB</div>
      <div class="product-price">Price without promotions: <a class="price-link">{{ product.price }}</a> RUB</div>
    {% else %}
      <div class="product-price">Price: <a class="price-link">{{ product.price }}</a> RUB</div>
    {% endif %}
    <div class="empty-promotions">
      {% if product_promotions %}
        <span class="empty-promotions">Current discount amounts:</span>
        {% for pp in product_promotions %}
          <div class="product-price"><span style="color: #dbdbdb;">{{ pp.promotion.discount_amount }}</span>%</div>
        {% endfor %}
      <div class="product-price">Max discount amount: <a class="price-link">{{ max_discount_amount }}</a>%</div>
      {% else %}
        <p class="empty-promotions">No promotions are valid for the product</p>
      {% endif %}
    </div>
    <div class="rating">Rating: <a class="rating-link">{{ average_rating }}</a>/5</div>
    <form method="GET" action="{% url 'order' %}">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ product.id }}">
      <input type="hidden" name="price_with_max_discount_amount" value="{{ price_with_max_discount_amount }}">
      <label for="quantity" style="color: #7e7e7e;">Quantity:</label>
      <input type="number" id="quantity" name="quantity" min="1" required>
      <button type="submit">Order</button>
    </form>
  </div>
  <div class="product-info-right">
    <li>
      <a href="{% url 'product' %}?id={{product.id}}" class="product-link"></a>
      <div class="product-title">{{ product.title }}</div>
      <div class="description">Description:</div>
      <div class="description-text">{{ product.description }}</div>
    </li>
  </div>
</div>
<div class="category-review">
  Category: <a href="{% url 'category' %}?id={{product.category.id}}" class="product-link">{{ product.category.title }}</a>
</div>
<div class="category-review">
  Reviews:
  {% if product.reviews.all %}
    {% for review in product.reviews.all %}
      <div class="review">
        <li>
          <div class="review-user">User: <a style="color: #dbdbdb;">{{ review.client.user.username }}</a></div>
          <div class="review-rating">Rating: <a class="rating-link">{{ review.rating }}</a>/5</div>
          <div class="review-text">{{ review.text }}</div>
          {% if review.client.user == request.user %}
            <form method="GET" action="{% url 'delete_review' %}">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ product.id }}">
              <input type="hidden" name="rating" value="{{ review.rating }}">
              <input type="hidden" name="text" value="{{ review.text }}">
              <button type="submit">Delete review</button>
            </form>
          {% endif %}
        </li>
      </div>
    {% endfor %}
  {% else %}
    <div class="product-price">The product has no reviews yet.</div>
  {% endif %}
 <form method="GET" action="{% url 'add_review' %}" style="display: flex; flex-direction: column; font-size: 36px;">
     {% csrf_token %}
     <input type="hidden" name="id" value="{{ product.id }}">
     <div class="form-group">
         <label for="rating" style="color: #7e7e7e;">Rating:</label>
         <input type="number" id="rating" name="rating" min="1" max="5" required>
     </div>
     <div class="form-group">
      <label for="text" style="color: #7e7e7e;">Text:</label>
      <textarea id="text" name="text" rows="4" required></textarea>
     </div>
    <div>
      <button type="submit">Add Review</button>
    </div>
 </form>
 

</div>
{% endblock %}
