<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Grocary store</title>{% endblock %}
  {% block sidebar %}
  <ul style="background-color: #121212;">
    {% if user.is_authenticated %}
    <div style="border: 7px solid #181818; margin-right: 5%; display: flex; justify-content: space-between; background-color: #181818; box-sizing: border-box; list-style-type: none; font-size: 28px; margin-bottom: 3%;">
      <div style="border: 5px solid #222222; padding: 1em;">
        <li><a href="{% url 'categories' %}" style="text-decoration: none; color: #dbdbdb;">Categories</a></li>
        <li><a href="{% url 'products' %}" style="text-decoration: none; color: #dbdbdb;">Products</a></li>
        <li><a href="{% url 'promotions' %}" style="text-decoration: none; color: #dbdbdb;">Promotions</a></li>
      </div>
      <div>
        <h1 style="color: #7e7e7e;">RPM GROCERY STORE</h1>
      </div>
      <div style="border: 5px solid #222222; padding: 1em;">
        <li style="color: #7e7e7e;">Hello, <a href="{% url 'profile' %}" style="text-decoration: none; color: #dbdbdb;">{{ user.username }}</a>!</li>
        <li><a href="{% url 'homepage' %}" style="text-decoration: none; color: #dbdbdb;">Homepage</a></li>
        <li><a href="{% url 'logout' %}?next={{request.path}}" style="text-decoration: none; color: #dbdbdb;">Log out</a></li>
      </div>
    </div>
    {% else %}
      <li><a href="{% url 'homepage' %}">Homepage</a></li>
      <li> <a href="{% url 'login' %}?next={{request.path}}">Log in</a></li>
      <li> <a href="{% url 'register' %}">Register</a></li>
    {% endif %}
  </ul>
  {% endblock %}
</head>

<body style="background-color: #121212; margin-left: 2%; position: relative;">
  {% block content %}{% endblock %}
  {% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
  
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
  
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
  {% endif %}
</body>
</html>