{% extends "base_generic.html" %}
{% block content %}

<style>
  .main-class-index {
  color: #7e7e7e;
  background-color: #181818;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-size: 28px;
}
</style>

<p class="main-class-index">
  Добро пожаловать на сайт RPM GROCERY STORE.<br>
  Этот сайт является базовым примером сайта, разработанного с помощью Django, и по совместительству, это моя домашняя работа для зачёта "Учебная практика (Разработка модулей ПО и приложений для компьютерных систем)".<br>
  Приятного пользования!
</p>

{% endblock %}
